@import "tailwindcss";
@import "./variables.css"; /* ✅ Import theme variables */
@import "./themes.css"; /* ✅ Import theme definitions */

/* ✅ Apply Default Theme Colors Globally */
html, body {
  font-family: var(--font-sans);
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;

  & p,h1,h2,h3,h4 {
    color: var(--color-pure-0);
    mix-blend-mode: difference;
  }
}

@layer components {
  @import "./components/button.css";
  @import "./components/header.css";
}
