.btn {
  border-radius: var(--border-radius);
  padding: var(--spacing-sm) var(--spacing-lg);
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary,
.btn-secondary,
.btn-tertiary {
  background-color: var(--primary-color);
  color: var(--color-pure-0);
  
  &:hover {
    filter: brightness(90%);
  }
}

